<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comparativa entre Intel y AMD Ryzen</title>
  <a href="PC.html">Inicio</a>
</head>
<body>
<h1>Comparativa entre Procesadores Intel y AMD Ryzen</h1>

<h2>Intel</h2>
<a href="https://www.intel.com/content/www/us/en/homepage.html">
  <img src="../assets/img/intel.jpg" width="50%">
</a>

<ul>
  <li>Amplia gama de procesadores para todas las necesidades, desde laptops hasta servidores.</li>
  <li>Tradición en la industria y alta presencia en la mayoría de las computadoras personales.</li>
  <li>Rendimiento sólido en tareas de un solo núcleo y aplicaciones que dependen de frecuencia de reloj elevada.</li>
</ul>

<table border="1">
  <tr>
    <th> <i>Referencia</i></th>
    <th> <i>Puntaje</i> </th>
  </tr>
  <tr>
    <td> i9 13900 KS</td>
    <td> 3089 </td>
  </tr>
  <tr>
    <td> i9 13900 KF </td>
    <td> 2960 </td>
  </tr>
  <tr>
    <td> i9 13900 K</td>
    <td> 2954</td>
  </tr>
  <caption>Procesadores</caption>
</table>
<table border="1">
  <caption>Horario semanal</caption>
  <tr>
    <th> <b>Hora</b></th>
    <th> <b>Lunes</b></th>
    <th> <b>Martes</b></th>
  </tr>
  <tr>
    <td>7:00 am</td>
    <td colspan="2"> Desayuno</td>
  </tr>
</table>
<h2>AMD Ryzen</h2>
<img src="../assets/img/amd.png" , width="50%">
<ul>
  <li>Arquitectura moderna con múltiples núcleos y subprocesos, ideal para multitarea y aplicaciones intensivas en paralelo.</li>
  <li>Competitividad en precio y rendimiento, ofreciendo una buena relación calidad-precio.</li>
  <li>Rendimiento destacado en aplicaciones que aprovechan múltiples núcleos, como renderizado 3D y transcodificación de video.</li>
</ul>

</body>
</html>
