<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/sailor.css">
    <title>Title</title>
</head>
<body>
    <div class="personaje">

        <img src="../assets/img/sailor/sailorm.jpg">
        <h2>Serena Tsukino</h2>
        <p>
            <em>Serena Tsukino</em> Es un personaje de ficción en la serie Sailor Moon y la protagonista principal. Es una alumna despreocupada que puede transformarse en la lider de facto de las heroínas principales de la serie, las Sailor Shenshi.
        </p>

    </div>
    <div class="personaje">
        <img src="../assets/img/sailor/tuxedo.png">
        <h2>Darien Chiba</h2>
        <p>
            <em>Serena Tsukino</em> Es un personaje de ficción en la serie Sailor Moon y la protagonista principal. Es una alumna despreocupada que puede transformarse en la lider de facto de las heroínas principales de la serie, las Sailor Shenshi.
        </p>

    </div>

    <div class="cajaprincipal">
        <div class="encabezado">
            <h3>Matematicas Aplicadas y ciencias de la computacion</h3>
        </div>

        <div class="cajaperfil">
            <div class="foto">
                <img src="../assets/img/sailor/foto.jpg">
                <p>Daniel Leyva Castro</p>
            </div>
            <div class="header2">
                <img src="https://urosario.edu.co/static/getmedia/4b482c72-87c2-49a5-8e81-14312e6270f0/logo-Medicina_Mesa-de-trabajo-1" width="25%">
                <p>Estudiante<br>
                </p>
            </div>
        </div>
    </div>
</body>
</html>