body{
    width: 800px;
    margin: 50px auto;
    border-width: 4px;
    padding: 30px 30px 30px 30px;
    color: white;
}

h1 {
    color: white;
}

p {
    color: white;
    text-align: justify;
}

a:link {
    color: #FCFC34;
}

a:visited {
    color: orange;
}

a:hover {
    color: darkorange;
}

table{
    border: 4px dashed #FCFC34;
    padding: 30px 30px 30px 30px;
    background-color: #15A085;
}


/*.esopo h1 {*/
/*    color: white;*/
/*}*/

/*.esopo p {*/
/*    color: white;*/
/*}*/
/*.esopo img{*/
/*    width: 120px;*/
/*    float: left;*/
/*    margin-right: 10px;*/
/*}*/
/*.esopo p {*/
/*    text-align: justify;*/
/*}*/

/*.homero {*/
/*    color: #FCFC34;*/
/*}*/


