.esopo{
    width: 800px;
    margin: 50px auto;
    border-width: 4px;
    padding: 30px 30px 30px 30px;
    border-style: dashed;
    border-color: #FCFC34;
    background-color: #15A085;
    color: white;
}

.esopo h1 {
    color: white;
}

.esopo p {
    color: white;
}
.esopo img{
    width: 120px;
    float: left;
    margin-right: 10px;
}
.esopo p {
    text-align: justify;
}

.homero {
    color: #FCFC34;
}